{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui link list">
                <a class ="item" href="{% url 'blog:CategoriesAdminView' %}">Categories</a>
                <a class ="item" href="{% url 'blog:PostsAdminView' %}">Posts</a>
                <a class ="item" href="{% url 'blog:UsersAdminView' %}">Users</a>
            </div>
        </div>
        <div class="twelve wide column">
            {% block admin_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}