{% extends 'blog/admin.html' %}
{% load static %}
{% block admin_content %}
    <div style="text-align: right;">
        <a href="{% url 'blog:PostsAdminCreate' %}">
            <button class="ui blue button">Create</button>
        </a>
    </div>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Comments Count
            </th>
            <th>
                Created at
            </th>
            <th>
                Action
            </th>
        </tr>
        </thead>
        {% for item in posts %}
            <tr>
                <td data-label="Name">
                    <a href="{% url 'blog:DetailPostAdminView' item.id%}">
                    {{ item.post_title }}
                    </a>
                </td>
                <td data-label="Comments Count">{{ item.num_comments }}</td>
                <td data-label="Created at">{{ item.pub_date }}</td>
                <td data-label="Action">
                    <a href="{% url 'blog:PostsAdminEdit' item.id%}"><button class="ui yellow button">Edit</button></a>
                    <form action="{% url 'blog:delete_post' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ item.id }}" />
                        <button class="negative ui button">Delete</button>
                    </form>
            </tr>
        {% endfor %}
    </table>
{% endblock %}