{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>

<div class="ui container">
    <h1 class="ui dividing header" >MY COOL BLOG :)</h1>
    <div class="ui grid">
        <div class="sixteen wide right aligned column">
            <div class="ui action left icon input">
              <i class="search icon"></i>
              <input placeholder="Search..." type="text">
              <div class="ui teal button">Search</div>
            </div>
        </div>
    </div>
    <div class="ui three column grid">
        <div class="four wide column">
            <h2>Categories</h2>
            {% if items_list %}
                <ul>
                {% for item in items_list %}
                    {% if item.type == 'category' %}
                        {% if category.category_name == item.category_name %}
                            <li><b><a href="{% url 'blog:category' item.id %}">{{ item.category_name }}</a></b></li>
                        {% else %}
                            <li><a href="{% url 'blog:category' item.id %}">{{ item.category_name }}</a></li>
                        {% endif %}

                    {% endif %}
                {% endfor %}
                </ul>
            {% else %}
                Unknown error occurred.
            {% endif %}
        </div>
        <div class="eight wide column">
            {% if items_list %}
                {% for item in items_list %}
                    {% if item.type == 'post' %}
                        <div class="ui items">
                            <div class="item">
                                <div class="content">
                                    <a class="header">
                                        {{ item.post_title }}<br>
                                    </a>
                                    <div class="description">
                                        {{ item.post_content }}<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                Unknown error occurred.
            {% endif %}
        </div>
        <div class="four wide column">
            Users
        </div>
    </div>
</div>