{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>

<div class="ui container">
    <h1 class="ui dividing header" ><a href="{% url 'blog:index' %}">MY COOL BLOG :)</a></h1>
    <h2>Failed to log in! Redirecting back in 2s</h2>
    <script type="text/javascript">
        setTimeout(function() {
            window.location.href = "{% url 'blog:index' %}";
        }, 2000);
    </script>
</div>
