{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>

<div class="ui container">
    <h1 class="ui dividing header" ><a href="{% url 'blog:index' %}">MY COOL BLOG :)</a></h1>
    <div class="ui grid">
        <div class="sixteen wide right aligned column">
            <div class="ui action left icon input">
                <i class="search icon"></i>
                <input placeholder="Search..." type="text">
                <div class="ui teal button">Search</div>
            </div>
        </div>
    </div>
    <div class="ui three column grid">
        <div class="four wide column">
            <h2>Categories</h2>
            {% if items_list %}
                <div class="ui link list">
                    {% for item in items_list %}
                        {% if item.type == 'category' %}
                            {% if category.category_name == item.category_name %}
                                <div class="active item" href="{% url 'blog:category' item.id %}">{{ item.category_name }}</div>
                            {% else %}
                                <a class ="item" href="{% url 'blog:category' item.id %}">{{ item.category_name }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                Unknown error occurred.
            {% endif %}
        </div>
        <div class="eight wide column">
            {% if items_list %}
                {% for item in items_list %}
                    {% if item.type == 'post' %}
                        <div class="ui segment">
                            <div class="ui items">
                                <div class="item">
                                    <div class="content">
                                        <a class="header">
                                            {{ item.post_title }}
                                        </a>
                                        <div class="description">
                                            <p>{{ item.post_content }}</p>
                                        </div>
                                        <div class="extra">
                                            <div class="ui left floated">
                                                <i class="thumbs up icon"></i>
                                                0 like(s)
                                            </div>
                                            <div class="ui right floated">
                                                Comment
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                Unknown error occurred.
            {% endif %}
        </div>
        <div class="four wide column">
            {% if not user.is_authenticated %}
                <h2 class="ui teal image header">
                    <!-- <img src="assets/images/logo.png" class="image"> -->
                    <div class="content">
                        Log-in to your account
                    </div>
                </h2>
                <form class="ui large form" action="{% url 'blog:login_view' %}" method="post">
                    {% csrf_token %}
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input required name="username" placeholder="Username" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" type="text">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input required name="password" placeholder="Password" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" type="password">
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button">Login</button>
                    </div>

                    <div class="ui error message"></div>
                </form>
                <div class="ui message">
                    New to us? <a href="#">Sign Up</a>
                </div>
            {% else %}
                <h2>
                {% if user.first_name != "" and user.last_name != ""%}
                    {{ user.first_name }} {{ user.last_name }}
                {% elif user.first_name != "" %}
                    {{ user.first_name }}
                {% elif user.last_name != "" %}
                    {{ user.last_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
                </h2>
                {% if items_list %}
                    {% for item in items_list %}
                        {% if item.type == 'user_profile' %}
                            {% if item.user_image.url != "" and item.user_image.url is not None %}
                                First: <img src="{{ item.user_image.url }}" width="300" length="300">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                Second:
                {% if user_profile is None %}
                    <img src="{% static 'default.jpg' %}" width="300" length="300">
                {% else %}
                    <img src="{{ user_profile.user_image.url }}" width="300" length="300">
                {% endif %}
                <form action="{% url 'blog:logout_view' %}" method="post">
                    {% csrf_token %}
                    <button class="negative ui button">Logout</button>
                </form>

            {% endif %}
        </div>
    </div>
</div>